.item{
    margin-top: 5%;
}
.item-2{
    padding: 0%;
}
.title p{
    font-size: 1em;
}
#work{
    font-size: 1.5em;
}
#jane{
    top:21.5%;
    left:7%;
}
.first{
    font-size: 1.3em;
}
#dev{
    font-weight: bold;
    font-size: 1em;
}
.graph{
    font-weight: bold;
}
